$divider-color: #999;
$muted-color: #777;

$xsumo-color: #d33f27;
//$rescue-color: #01579b;
$rescue-color: #0f87a9;
$dance-color: #f9a825;

$component-flavors: xsumo $xsumo-color, res $rescue-color, dance $dance-color;

$timetable-color: #007e21;

$xsumo-p1-color: #F44336;
$xsumo-p2-color: #03A9F4;
